<h1>Shop</h1>

<table>
	<tr>
		<td>Title</td>
		<td>Description</td>
		<td>Price</td>
	</tr>

	<% @products.each do |product| %>
		<tr>
			<td><%= product.title%></td>
			<td><%= product.description%></td>
			<td><%= product.price%></td>
			<td><%= link_to 'Add to chart', cart_path(product), method: :patch %></td>
		</tr>
	<% end -%>
</table>